body {
    background: linear-gradient(to right, #FEFEE3 0%, #FEFEE3 60%, #4C956C 40%, #4C956C 100%);
    margin: 0;
}

textarea {
  width: 100%;
}
.communityPosts {
    white-space: pre-line;
    font-size: 2vw;
}

.leftcolumn {
    border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    width: 40%;
    margin-top:2.5%;
    margin-left:10%;
    text-align: center;
}
.eventButton {
   border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    width: 80%;
    margin-top:2%;
    margin-left:10%;
    text-align: center;
    cursor: pointer;
}
.orderdiv {
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    width: 80%;
    margin-top:2%;
    margin-left:10%;
    text-align: center;
}
.bank {
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
    text-decoration: none;
    font-size: 2vw;
    width: 100%;
    margin-top:2%;
    margin-left: 0%;
    text-align: center;
}
.signoutDiv {
    border-style: solid;
    text-decoration: none;
    font-size: 2vw;
    border: 0;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.orderButton {
    border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    width: 80%;
    margin-top:2%;
    margin-left:10%;
    text-align: center;
}
.accountButton {
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    width: 40%;
    margin-top: 0.5%;
    margin-left: 10%;
    text-align: center;
    cursor: pointer;
}
.navbutton1 {
    border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
    text-decoration: none;
    font-size: 3.2vw;
    color: black;
    width: 20%;
    display: inline-block;
    border: 0;
    text-align: center;
    margin-right: -4px;
}

.navbutton2 {
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
    text-decoration: none;
    font-size: 3.2vw;
    color: black;
    width: 20%;
    display: inline-block;
    border: 0;
    text-align: center;
    margin-right: -4px;
}

.pagetitle {
    background: #2C6E49;
    color: white;
    font-size: 4.4vw;
    text-align: center;
    margin: 0;
}

.column {
    float: left;
    padding: 10px;
}


.left {
    width: 40%;
    border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
    font-size: 1vw;
    color: black;
    margin-top: 2.5%;
    margin-left: 10%;
}

.right {
    width: 35%;
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
    font-size: 1vw;
    color: black;
    margin-top:2.5%;
    margin-left:10%;
    text-align: center;
}