<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Bank Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1040px)" href="{% static 'smallscreen.css' %}">
</head>
<body>
    {% include 'navBar.html' %}

    <div class="column left">

        <form action="" method="post" id="addHole"> {% csrf_token %}
            Hole<br>
            <label for="hole">Hole Number: </label><input name="hole" id="hole" type="number"><br>
            <label for="par">Par: </label><input name="par" id="par" type="number" max="5"><br>
            <input type="submit" value="Submit" class="accountButton"> <button onclick="revealTransfer()" id="transfer-reveal">Cancel</button>
        </form>

    </div>

</body>
