<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Account Creation">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1040px)" href="{% static 'smallscreen.css' %}">
</head>

<body>
{% include 'navBar.html' %}
<div class="left column">
    <div class="signoutDiv">Account successfully signed out </div>
</div>


</body>
</html>
